@use 'abstracts/variables' as variable;

.breadcrumb {
  display: flex;
  gap: 0 10px;
  list-style: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: variable.$color-black;
  margin: 0 0 80px;

  &__link {
    text-decoration: none;
  }

  &__item {
    &:not(:last-child):after {
      content: '>';
      padding-left: 10px;

      @media (max-width: 425px) {
        padding-left: 6px;
      }
    }
  }

  @media (max-width: 1170px) {
    margin: 0 0 60px;
  }

  @media (max-width: 980px) {
    font-size: 14px;
    margin: 0 0 50px;
  }

  @media (max-width: 425px) {
    font-size: 8px;
    margin: 0 0 30px;
    gap: 0 6px;
  }
}