@use 'abstracts/variables' as variable;

.container-blog {
  max-width: 1493px;
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: 1064px) {
    padding: 0 34px;
  }

  @media (max-width: 880px) {
    padding: 0 26px;
  }

  @media(max-width: 480px) {
    padding: 0 20px;
  }
}

.articles {
  margin: 0 0 151px;
  color: variable.$color-black;

  &__items {
    padding: 0;
    margin: 0 0 100px;
    list-style: none;
    display: flex;
    // grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;

    @media (max-width: 1170px) {
      gap: 30px 0;
      margin: 0 0 80px;
    }

    @media (max-width: 1000px) {
      gap: 20px 0;
    }

    @media (max-width: 800px) {
      margin: 0 0 55px;
    }

    @media (max-width: 425px) {
      gap: 10px 0;
      margin: 0 0 45px;
    }
  }

  @media (max-width: 1170px) {
    margin: 0 0 100px;
  }

  @media (max-width: 800px) {
    margin: 0 0 83px;
  }

  @media (max-width: 425px) {
    margin: 0 0 53px;
  }
}

.article-section {
  display: flex;
  gap: 0 30px;
  align-items: start;
  position: relative;

  &__image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    // max-width: 195px;
    // max-height: 195px;
    border-radius: 20px;

    @media (max-width: 1400px) {
      width: 160px;
      height: 160px;
    }

    @media (max-width: 1300px) {
      width: 150px;
      height: 150px;
    }

    @media (max-width: 1170px) {
      width: 140px;
      height: 140px;
      border-radius: 16px;
    }

    @media (max-width: 540px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 483px) {
      width: 100px;
      height: 100px;
      border-radius: 12px;
    }

    @media (max-width: 425px) {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }
  }

  &__title-error {
    font-size: 38px;
    font-weight: 700;

    @media (max-width: 1400px) {
      font-size: 34px;
    }

    @media (max-width: 1300px) {
      font-size: 32px;
    }

    @media (max-width: 770px) {
      font-size: 30px;
    }

    @media (max-width: 540px) {
      font-size: 26px;
    }

    @media (max-width: 483px) {
      font-size: 22px;
    }

    @media (max-width: 425px) {
      font-size: 18px;
    }
  }

  &__title {
    text-decoration: none;
    color: inherit;
    padding: 13px 0 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    width: 420px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color .3s ease-in-out;

    &:hover {
      color: variable.$color-blue-hover;
    }

    &:focus {
      color: variable.$color-blue-focus;
    }

    &:active {
      color: variable.$color-blue-hover;
    }

    @media (max-width: 1400px) {
      font-size: 34px;
    }

    @media (max-width: 1300px) {
      font-size: 32px;
      width: 370px;
    }

    @media (max-width: 1170px) {
      font-size: 30px;
      width: 300px;
    }

    @media (max-width: 995px) {
      width: 100%;
      max-width: 550px;
    }

    @media (max-width: 540px) {
      font-size: 26px;
    }

    @media (max-width: 483px) {
      font-size: 22px;
      padding: 8px 0 0;
    }

    @media (max-width: 425px) {
      font-size: 18px;
      padding: 0;
      max-width: 260px;
      -webkit-line-clamp: 2;
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  @media (max-width: 1300px) {
    gap: 0 20px;
  }

  @media (max-width: 425px) {
    gap: 0 7px;
  }

}

