.footer {
  padding: 80px 0;
  background-color: #2d2d2d;
}

.footer-container {
  display: grid;
  grid-template-columns: minmax(190px, 308px) minmax(480px, 578px) minmax(307px, 434px) minmax(307px, 450px);
  grid-template-areas: "logo catalog buyers contacts";
  /* align-items: center; */
}

.footer-logo-block {
  grid-area: logo;
}

.footer__logo {
  margin: 0 0 316px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

.footer-catalog {
  grid-area: catalog;
}

.footer-catalog__title,
.footer-buyers__title,
.footer-contacts__title {
  font-size: 32px;
  font-weight: 130%;
  margin: 0 0 40px;
}

.footer-catalog__list,
.footer-buyers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 30px;
  max-height: 205px;
  max-width: 480px;
}

.footer-buyers {
  grid-area: buyers;
}

.footer-buyers__list {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.footer-contacts {
  grid-area: contacts;
}

.footer-contacts__address {
  font-style: normal;
  margin: 0 0 35px;
}

.footer-contacts__text {
  margin: 0;
}

.text-tel {
  margin: 0 0 20px;
}

.footer-link {
  font-size: 22px;
  color: inherit;
  text-decoration: none;
}

.footer-contacts__link {
  font-size: 16px;
}

.footer-contacts__socials {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin: 0 0 150px;
}

.socials__link {
  font-size: 0;
}

.text-design {
  margin: 0 0 10px;
}