// Цвета

$color-main: #fff;
$color-blue: #3670c7;
$color-blue-hover: #5d92e0;
$color-blue-focus: #3b65a5;
$color-black: #2d2d2d;
$color-gallery: #efefef;
$color-red: #f91155;
$color-light-blue: #38c0eb;
$color-yellow: #ffbd13;

// Градиенты

$gradient-bg-opacity: linear-gradient(rgba(47, 50, 75, .5), rgba(47, 50, 75, .5));
$gradient-discount: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

// Шрифты

$font-default: Lato;