@use 'abstracts/variables' as variable;

.recommendations {
  color: variable.$color-black;
  margin: 0 0 150px;

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    margin: 0 0 30px;

    @media (max-width: 1153px) {
      font-size: 40px;
    }

    @media (max-width: 1024px) {
      font-size: 30px;
    }

    @media (max-width: 756px) {
      font-size: 25px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1410px) {
      flex-wrap: wrap;
      gap: 30px 0;
    }

    @media (max-width: 1153px) {
      gap: 20px 0;
    }
  }

  &__item {
    width: 100%;
    max-width: calc(25% - 13px);

    @media (max-width: 1410px) {
      max-width: calc(33% - 16px);
    }

    @media (max-width: 1153px) {
      max-width: calc(33% - 10px);
    }

    @media (max-width: 1024px) {
      max-width: calc(33% - 3px);
    }

    @media (max-width: 756px) {
      max-width: calc(50% - 20px);
    }

    @media (max-width: 630px) {
      max-width: calc(50% - 10px);
    }
  }

  @media (max-width: 803px) {
    margin: 0 0 80px;
  }
}

.item-recommendations {
  position: relative;

  &__image-block {
    position: relative;
    margin: 0 0 20px;

    &:after {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 88px;
      color: variable.$color-main;
      background-color: variable.$color-yellow;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;
      line-height: 130%;
      position: absolute;
      left: 20px;
      bottom: 20px;

      @media (max-width: 803px) {
        width: 60px;
        height: 60px;
        font-size: 20px;
      }

      @media (max-width: 440px) {
        width: 40px;
        height: 40px;
        font-size: 12px;
      }
    }

    &_percentage_10:after {
      content: "-10%";
    }

    @media (max-width: 803px) {
      margin: 0 0 15px;
    }

    @media (max-width: 440px) {
      margin: 0 0 10px;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__prices-block {
    display: flex;
    align-items: center;
    gap: 0 28px;
    margin: 0 0 15px;

    @media (max-width: 803px) {
      margin: 0 0 10px;
      gap: 0 16px;
    }

    @media (max-width: 440px) {
      margin: 0 0 3px;
    }
  }

  &__price {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin: 0;

    @media (max-width: 803px) {
      font-size: 22px;
      line-height: 26px;
    }

    @media (max-width: 630px) {
      font-size: 20px;
    }

    @media (max-width: 440px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__old-price {
    font-size: 20px;
    line-height: 24px;
    text-decoration: line-through;
    margin: 0;

    @media (max-width: 803px) {
      font-size: 16px;
      line-height: 19px;
    }

    @media (max-width: 630px) {
      font-size: 14px;
    }

    @media (max-width: 440px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 22px;
    line-height: 150%;
    color: variable.$color-black;

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 10px;
      transition: box-shadow .3s ease-in-out;
    }

    &:hover:after {
      box-shadow: 0 0 16px 1px rgba(0, 0, 0, .2);
    }

    @media (max-width: 803px) {
      font-size: 18px;
    }

    @media (max-width: 630px) {
      font-size: 16px;
    }

    @media (max-width: 440px) {
      font-size: 12px;
    }
  }
}