@use 'abstracts/variables' as variable;

.recommendations {
  color: variable.$color-black;
  margin: 0 0 150px;

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    margin: 0 0 30px;

    @media (max-width: 1153px) {
      font-size: 40px;
    }

    @media (max-width: 1024px) {
      font-size: 30px;
    }

    @media (max-width: 756px) {
      font-size: 25px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    border-radius: 14px;

    @media (max-width: 800px) {
      border-radius: 12px;
    }
  }

  @media (max-width: 803px) {
    margin: 0 0 80px;
  }
}

