.grid-primary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-template-rows: repeat(2, 550px);
  grid-auto-flow: dense;
  gap: 60px;
}

.grid-primary__cell_size_two-columns {
  grid-column: span 2;
}

.grid-inner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}

.grid-inner_column_two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-inner__cell_size_two-columns {
  grid-column: span 2;
}

.grid-inner__cell_size_two-rows {
  grid-row: span 2;
}

@media (max-width: 1680px) {
  .grid-primary {
    gap: 24px;
  }

  .grid-inner {
    gap: 24px;
  }
}

@media (max-width: 1427px) {
  .grid-primary {
    grid-template-rows: repeat(2, 458px) 418px;
  }
}


@media (max-width: 964px) {
  .grid-primary {
    grid-template-columns: minmax(280px, 1fr) minmax(280px, 1.24fr);
    grid-template-rows: 300px 60px 220px 337px;
    gap: 20px;
  }

  .grid-primary__cell_size_two-rows {
    grid-row: span 2;
  }

  .grid-inner {
    gap: 20px;
  }

  .grid-inner_size_column {
    grid-template-columns: minmax(150px, 1.57fr) minmax(100px, 1fr);
  }

  .grid-inner_size_row {
    grid-template-rows: 140px 60px;
  }
}

@media (max-width: 640px) {
  .grid-primary {
    grid-template-columns: minmax(280px, 1fr);
    grid-template-rows: 460px 400px 440px 400px 220px;
    grid-auto-flow: unset;
  }

  .grid-primary__cell_size_one_column {
    grid-column: unset;
  }

  .grid-primary__cell_size_one_row {
    grid-row: unset;
  }

  .grid-primary__cell_position_row {
    grid-row: 5;
  }

  .grid-inner_size_column {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-inner_size_row {
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 470px) {
  .grid-primary {
    grid-template-rows: 370px 300px 380px 315px 165px;
  }
}

@media (max-width: 380px) {
  .grid-primary {
    grid-template-rows: 268px 280px 256px 280px 123px;
  }
}
