.header {
  padding: 27px 0 30px;
}

.header__grid {
  display: grid;
  grid-template-columns: minmax(190px, 313px) minmax(151px, 250px) minmax(580px, 757px) minmax(300px, 451px);
  grid-template-areas: "logo button search user-settings";
  align-items: center;
}

.header__button {
  grid-area: button;
  font-size: 22px;
  line-height: 1.5;
  color: var(--main-color);
  border: none;
  padding: 9px 0 12px;
  border-radius: 10px;
  background-color: var(--blue);
  width: 151px;
  max-width: 100%;
  cursor: pointer;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.header__menu-svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 3px;
}

.header__button:hover, .header__button:focus {
    color: var(--blue);
    background-color: rgb(113, 219, 219);
}

.header__button:active {
    color: var(--main-color);
    background-color: rgb(60, 60, 139);
}

.header__logo {
  grid-area: logo;
  align-self: normal;
  padding-top: 23px;
}

.header__search-box {
  grid-area: search;
}

.header__user-settings {
  grid-area: user-settings;
}


@media (max-width: 1366px) {
  .header {
      padding: 34px 0 30px;
  }

  .header__logo {
    padding: 0;
    align-self: center;
  } 

  .header__grid {
    grid-template-columns: 190px 1fr;
    grid-template-areas: 
    "logo user-settings"
    "button search";
    row-gap: 34px;
  }

  .header__search-box {
    justify-self: self-end;
  }

}


@media (max-width: 780px) {
  .header {
    padding: 25px 0;
  }

  .header__grid {
    grid-template-columns: 170px 1fr;
    row-gap: 29px;
  }
  .header__logo {
    max-width: 165px;
  }

  .header__button {
    font-size: 16px;
    padding: 8px 0 10px;
    border-radius: 6px;
    width: 115px;
  }

  .header__menu-svg {
    vertical-align: bottom;
  }
}


@media (max-width: 620px) {
  .header__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo logo"
    "button user-settings"
    "search search";
  }
}


@media (max-width: 480px) {
  .header {
    padding: 20px 0;
  }

  .header__grid {
    row-gap: 20px;
  }

  .header__logo {
    max-width: 114px;
  }

  .header__menu-svg {
    vertical-align: sub;
    width: 14px;
    height: 14px;
    margin-right: 0;
  }

  .header__button {
    font-size: 12px;
    padding: 5px 0 7px;
    width: 79px;
    border-radius: 4px;
  }
}